<!DOCTYPE html>
<html>
  <head>
    <title>Eventify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Public+Sans:300,400,500&display=swap" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
  </head>

  <body id="main_body">
    <%= render 'layouts/admins_nav' %>
      <% unless flash.empty? %>
        <script type="text/javascript">
            <% flash.each do |f| %>
            <% type = f[0].to_s %>
            toastr['<%= type %>']('<%= f[1] %>');
            <% end %>
        </script>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
